[Desktop Entry]
Encoding=UTF-8
Version=1.5.5
Type=Application
Name=SomePlayer
X-Text-Domain=someplayer
Exec=/usr/bin/someplayer
Icon=someplayer
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Categories=AudioVideo;
