[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=SomePlayer
X-Text-Domain=someplayer
Exec=/opt/someplayer/someplayer
Icon=someplayer
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Categories=Office;
